{% extends "layout.html" %}
{% block body %}
<h1>Sample</h1><p>
  ~!"#$%&'()*+,-./0123456789:;<=>?@
  ABCDEFGHIJKLMNOPQRSTUVWXYZ
  [\]^_`
  abcdefghijklmnopqrstuvwxyz
  {|}¡¢£§©«®°¶»¿
  ÀÂÄÆÇÈÉÊËÎÏÔÖÙÛÜßàâäæçèéêëîïôö÷
  ùûüÿŒœŸ
  †‡•‣‹›€∙▪▫◦
  Á á Č č Ď ď É é Ě ě Í í Ň ň Ó ó Ř ř Š š Ť ť Ú ú Ů ů Ý ý Ž
</p>
{% for line in sample %}
<p>
    <div class='sample'>
      <div class='row'>
        <img  class="img-responsive" src="/image/{{line}}"></img>
        <input class="gt-text" type='text' id="{{line}}" onblur="send_gt_text(this)" value="{{text[line]}}"/>
      </div>
    </div>
</p>
{% endfor %}
{% endblock %}
