{% extends "layout.html" %}
{% block body %}
<h1>Sample lines from {{name}}</h1>
<div class="container-fluid" style='position:fixed;left:0;top:0; background: white'>
    <div class="row-fluid">
        <div class="offset1 span8 pull-right">
            <p>
<pre>
<strong>Special characters: </strong> ¡¢£§©«®°¶»¿†‡•‣‹›€∙▪▫◦ ÀÂÄÆÇÈÉÊËÎÏÔÖÙÛÜßàâäæçèéêëîïôö÷ùûüÿŒœŸ ÁáČčĎďÉéĚěÍíŇňÓóŘřŠšŤťÚúŮůÝýŽ
</pre>
            </p>
        </div>
    </div>
</div>


{% for line in sample %}
<p>
<div class='sample'>
    <div class='row'>
        <img class="img-responsive" src="/image/{{line}}"></img>
        <input class="gt-text input-lg" style="width: 100%" type='text' id="{{line}}" onblur="send_gt_text(this)"
               value="{{text[line]}}"/>
        <p></p>
    </div>
</div>
</p>
{% endfor %}
{% endblock %}
