{% extends "layout.html" %}
{% block body %}
<h2>{{ id }} </h2>
    <img width="30%" src="/data/{{ id }}/png"></img>
    {% if is_gt %}
    <span class="label label-success">{{datasource}}</span>
    
    {% endif %}
    <form action="{{ url_for('correct', file_id=id) }}" method=post class="add-entry input-group-lg">
        {% for s in segments %}
        <div class="row">
        <img src="/data/{{id}}/segment/{{s}}/png"></img>
        <div class="input-group input-group-lg">
            <!--<span class="input-group-addon" id="sizing-addon1">{{s}}</span>-->
        <input type=text size=100 name="segment_{{id}}_{{s}}" value="{{texts[s]}}" aria-describedby="sizing-addon1" class="form-control" autocomplete="off">
        </div>
        </div>
        <p></p>
        {% endfor %}

        <input type=submit value=Submit>
    </form>


  <ul class=entries>
  {% for entry in entries %}
    <li><h2>{{ entry.title }}</h2>{{ entry.text|safe }}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}
